<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Example page</title>

    <style>
      body {
        text-align: center;
      }

      ul {
        list-style-type: none;
      }
    </style>
  </head>
  <body>
    <div>
      Today is: {{ now.format('YYYY-MM-DD HH:mm:ss') }}
    </div>

    <div>
      <ul>
        {% for n in numbers %}
          <li>{{ n }}</li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
